<!doctype html>
<html>
<head>
  <title>Find Item</title>
</head>

<body>
  <h1>Find Items / Reviews</h1>

  <form action="/search" method="get">
    <p>
      Category:<br>

    <select name="item_type" required>
      <option value="">--</option>
      <option value="movie">Movie</option>
      <option value="series">Series</option>
      <option value="game">Game</option>
      <option value="song">Song</option>
    </select>
    </p>

    <p>
      Search: <br>
      <input type="text" name="Query">
    </p>
    <p>
      <input type="submit"value="Search">
    </p>
  </form>

    <p>
    <a href="/">Back to home</a>
    </p>
</body>
</html>
