{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
  <title>Reviews</title>
</head>

<body>
  <h1>Review</h1>

  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>

  {% endif %}

  <hr>

  {% for review in review %}
  <div class="review-card">
  <p>
    <a href="/review/{{ review.id }}">{{ review.review_title }}</a><br>
    {{ review.item_type|capitalize }}: {{ review.item_title }}<br>
    Reviewed by <a href="/profile/{{ review.user_id }}">{{ review.username }}</a> ({{ review.created_at }})<br>
  </p>

      <form action="/comment/{{ review.id }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <textarea name="comment" placeholder="Write a comment..." required></textarea><br>
          <input type="submit" value="Submit Comment">
      </form>

      <div class="comments">
        {% if review.comments %}
          <h3>Comments</h3>
          {% for comment in review.comments %}

          <hr>
            <p>User: <a href="/profile/{{ comment.user_id }}">{{ comment.username }}</a></p>
            <p>{{ comment.comment }}</p>
          <hr>
          {% endfor %}

        {% else %}
          <p>No comments yet</p>
        {% endif %}

        {% if review.comment_count > 2 %}
          <a href="/comments/{{ review.id }}">Show All</a>
        {% endif %}
      </div>
  </div>
  <hr>

  {% endfor %}
</body>

</html>
{% endblock %}