<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
</head>

<body>
  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  <p>
  <a href="/new_item">New Review</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username"/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password"/>
    </p>
    <input type="submit" value="Kirjaudu"/>
  </form>
  {% endif %}
</body>

</html>