{% extends "layout.html" %}

{% block content %}

<div class="edit-page">
  <div class="edit-card">

    <h1>{{ category_name|capitalize }} Review</h1>

    <form action="/create_review" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="hidden" name="item_type" value="{{ category_name }}">

      <label>{{ category_name|capitalize }} title:</label>
      <input class="edit-input" type="text" name="item_title">

      <label>Review Title:</label>
      <input class="edit-input" type="text" name="title">

      <label>Thoughts:</label>
      <textarea class="edit-textarea" name="thoughts"></textarea>

      <label>Rating:</label>
      <input class="edit-rating" type="number" name="rating" min="1" max="5">

      <button class="edit-button" type="submit">Submit Review</button>
    </form>

  </div>
</div>

{% endblock %}