{% extends "layout.html" %}

{% block content %}

<h1>{{ user.username }}</h1>
<div class="user-stats">
  <p>Upvotes: {{ vote_totals.upvotes_received }}</p>
  <p>Upvotes: {{ vote_totals.downvotes_received }}</p>
  <p>Score: {{ vote_totals.score_received }}</p>
</div>

<hr>
  {% if reviews %}
    <ul>
    {% for review in reviews %}
    <li>
    <a href="/review/{{ review.id }}">{{ review.title }}</a><br>
    Review on {{ review.item_title }}<br>
    {{ review.created_at }}<br>
    </li>
    <hr>
    {% endfor %}
    </ul>
    
  {% else %}

    This user has not made a review yet...

  {% endif %}
  <br>
  
{% endblock %}