{% extends "layout.html" %}

{% block content %}

<h1>Account Creation</h1>
  <form action="/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
      Username: <br />
      <input type="text" name="username"/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1"/>
    </p>
    <p>
      Repeat Password: <br />
      <input type="password" name="password2"/>
    </p>
    <input type="submit" value="Sign up"/>
    <p>
      Have an account already? <br/>
      <a href="/login">Log in</a>
    </p>
  </form>

{% endblock %}