{% extends "layout.html" %}

{% block content %}

<div class="review-page">
  <div class="review-card-full">
    <h1>{{ review.title }}</h1>

    <p><strong>Item:</strong> {{ review.item_title }}</p>
    <p><strong>Created by:</strong> {{ review.username }}</p>
    <p><strong>Rating:</strong> {{ review.rating }}/5</p>

    <div class="review-thoughts">
      {{ review.thoughts | show_lines }}
    </div>

    <div class="review-interactions">
      <form action="{{ url_for('vote_review', review_id=review.id)}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="value" value="1">
        <button type="submit" class="{{ 'active' if review.user_vote == 1 else '' }}">▲ {{ review.upvotes }}</button>
      </form>

      <form action="{{ url_for('vote_review', review_id=review.id)}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="value" value="-1">
        <button type="submit" class="{{ 'active' if review.user_vote == -1 else '' }}">▼ {{ review.downvotes }}</button>
      </form>

      <form action="{{ url_for('favorite_review', review_id=review.id)}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit" class="{{ 'active' if review.favorited else '' }}">★ {{ review.favorites }}</button>
      </form>
    </div>


<div class="review-actions">
  {% if session.get("user_id") == review.user_id %}
    <a class="edit-link" href="/edit_review/{{ review.id }}">Edit Review</a>

    <a href="{{ url_for('confirm_delete_review', review_id=review.id) }}" class="delete-btn">Delete Review</a>
  {% endif %}
</div>

<div id="comments" class="review-comments">
  <h2>Comments</h2>

  {% if session.username %}
    <form action="/comment/{{ review.id }}" method="post" class="comment-form">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <textarea name="comment" placeholder="Write a comment..." required></textarea>
      <button type="submit">Submit Comment</button>
    </form>
  {% endif %}

  {% if comments %}
    {% for comment in comments %}
      <div class="comment-box">
        <p>
          <strong>User:</strong>
          <a href="/profile/{{ comment.user_id }}">{{ comment.username }}</a>
        </p>

        <p>{{ comment.comment }}</p>

          {% if session.get('user_id') == comment.user_id %}
            <div class="comment-actions">

              <a href="{{ url_for('edit_comment', comment_id=comment.id) }}"class="edit-btn">Edit</a>
              <a href="{{ url_for('confirm_delete_comment', comment_id=comment.id) }}" class="delete-btn">Delete</a>
            </div>
          {% endif %}

      </div>
    {% endfor %}

  {% else %}
    <p>No comments yet.</p>
  {% endif %}

</div>
</div>
</div>

{% endblock %}